.wrapp{
  width: 83vw;
  display:flex;
  align-items:center;
  justify-content:space-between;
}


.our-text {
  width: 26.736vw;
}
  p{
    font-size: 1.250vw;
    line-height: 1.944vw;
  }
  button{
    margin-top: 10vw;
    width: 11.389vw;
    height: 1.944vw;
    background: black;
    color: white;
    font-size: 1.181vw;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 3vw;
  }

.our-image{
  width: 40.625vw;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
