section {
  width: 100%;
  height: 31.458vw;
  border-bottom: black solid 0.139vw;
  border-top: black solid 0.139vw;
  display: flex;
  align-items: center;
  @media(max-width: 433px) {
    height: 98.458vw;
    flex-direction: column;
  }

  .image {
    margin: -0.069vw 0.903vw -0.100vw 0.903vw;
    width: 56.042vw;
    height: 100%;
    background: pink;
    @media(max-width: 433px) {
      width: 100%;
      height: 55vw;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text {
    @media(max-width: 433px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 0 3vw;
      justify-content: center;
      height: 100%;
    }

    h1 {
      font-size: 3.125vw;
      @media(max-width: 433px) {
        font-size: 9.125vw;
      }
    }

    h4 {
      font-size: 1.250vw;
      margin-top: 2.083vw;
      cursor: pointer;
      @media(max-width: 433px) {
        font-size: 4.25vw;
        margin-top: 5.083vw;
        text-decoration: underline;
      }
    }
  }


}
