.right-wrap {
  color: white;
  width: 100%;
  padding: 3.194vw 5.556vw;
  background: black;
  margin-top: 1.389vw;

  .wrapper {
    width: 100%;
    padding: 0 2.569vw;

    .stairs-text {
      width: 100%;
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      p {
        margin-bottom: 0.486vw;font-size: 1.250vw;
      }

    }

    .border {
      background: gray;
      height: 0.139vw;
      margin: 2.500vw 0;
    }

    .rights {
      font-size: 1.042vw;

      p {
        margin-bottom: 1.667vw;
        font-size: 1.250vw;

        a {
          color: #00B705;
          text-decoration: none;
        }
      }
    }
  }
}
