h5{
  padding: 2.292vw 0;
  text-align: center;
  font-size: 1.250vw;
  font-weight: 400;
  @media(max-width: 433px){
padding: 11.292vw 0;
    font-size: 4.25vw;
  }
  span{
@media(max-width: 433px){

}
    a{
      color: black;
      font-weight: 700;
      @media(max-width: 433px){

      }
    }
  }
}
