.our-products {
  width: 100%;
  height: 53.542vw;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 433px){
height: 207.542vw;align-items: flex-start;
  }
}

.our-container {
  width: 88.889vw;
  height: 43.542vw;
  padding: 0 2.569vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media(max-width: 433px){
width: 100.889vw;
height: 50.542vw;margin-top: 17vw;
  }
}

.our-navigation {
  position: absolute;
  top: 0;
  left: 2.569vw;
  @media(max-width: 433px){

  }
}

h1 {
  font-size: 2.153vw;
  margin-bottom: 1.806vw;
  font-weight: 400;
  @media(max-width: 433px){
font-size: 9.153vw;
margin-bottom: 0.806vw;
  }
}

ul {
  display: flex;
  list-style: none;
  align-items: center;
@media(max-width: 433px){
display: none;
  }
  li {
    margin-right: 1.597vw;
@media(max-width: 433px){

  }
    a {
      color: #6F787E;
      text-decoration: none;
      font-size: 1.667vw;
      @media(max-width: 433px){

  }
    }

    .active {
      color: black;
      @media(max-width: 433px){

  }
    }
  }
}

.pink {
  color: #FF90AF;
  @media(max-width: 433px){

  }
}

.our-border {
  width: 0.139vw;
  height: 2.500vw;
  background: #6F787E;
  margin-right: 1.597vw;
  @media(max-width: 433px){

  }
}


