@import "~swiper/swiper-bundle.min.css";

.slider-section {
  width: 100%;
  background: black;
  color: white;
  height: 47.292vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slide {
  //width: 39.583vw;
  width: 18.583vw;
  margin-left: 7vw;
  height: 34.722vw;
}

.text-slide {
  width: 33.333vw;
  margin-left: 4vw;
  h1{
    font-size: 3.125vw;
    font-weight: 400;
    margin-bottom: 2vw;
  }
  p{
    font-size: 1.250vw;
    line-height: 1.944vw;
  }
}

.container {
  height: 36.806vw;
  width: 70.556vw;
  //background: darkseagreen;
}

.mySwiper {
  width: 100%;
  height: 100%;
}

.my-slidess {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}
.order{
  order: 1;
  margin-left: 1vw;
}
.mod{
  width: 36.333vw;
}
.swiper-slide {
  //text-align: center;
  font-size: 18px;
  //background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  height: 100%;
}

.swiper-vertical > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-vertical,
.swiper-pagination-custom, .swiper-pagination-fraction {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 7.847vw;
  bottom: unset;
  right: unset;
  font-size: 1.597vw;
  left: unset;
  text-align: unset;
}

.pagi {
  color: gray;
  padding: 1.1vw 0;
  cursor: pointer;
}

.pagi-active {
  color: white;
}

.navi {
  position: absolute;
  top: 50%;
  left: 5.847vw;
  z-index: 9;
  transform: translateY(-50%);
}

.container {
  position: relative;
}
.next-btn, .prev-btn{
  margin: 13.667vw 0;
  width: 1.944vw;
  height: 1.944vw;
  cursor: pointer;
}
