<section>
  <div class="block">
    <div class="titles">
      <h1>Introducing Fractional Shares</h1>
      <h4>Invest in thousands of stocks with as little as $1.</h4>
    </div>
    <div class="columns">
      <div class="column">
        <h5>Invest Any Amount</h5>
        <p class="texts">Choose how much you want to invest, and we’ll convert from dollars to parts of a whole
          share.</p>
      </div>
      <div class="column">
        <h5>Build a Balanced Portfolio</h5>
        <p class="texts">Customize your portfolio with pieces of different companies and funds to help reduce risk.</p>
      </div>
      <div class="column">
        <h5>Trade in Real Time</h5>
        <p class="texts">Trades placed during market hours are executed at that time, so you’ll always know the share
          price.</p>
      </div>
    </div>
  </div>
  <div class="image">
    <img src="assets/image/04da4a1c8aa76e703bc0027a5e7ac552.png" alt="">
  </div>
</section>
